body {
    font-family: sans-serif;
    font-weight: bold;
    margin:0px;
    size:1rem;
}

#demo {
    padding:30px;
    height:800px;
    margin-left: auto;
    margin-right: auto;
}

.switcherLabel {
    padding: 5px;
    display: inline-block;
    margin: 5px;
    vertical-align: top;
}

.switcher {
    margin:5px;
    background-color: #fdd;
    display: inline-block;
    border-radius: 5px;
}

.switcher input[type="radio"] {
    display: none;
}

.switcher label {
    font-weight: normal;
    padding:5px;
    margin:0px;
    display:block;
    float:left;
}

.switcher input[type="radio"]:checked+label {
  font-weight: bold;
  background-color: #faa;
  border-radius: 5px;
}

.clear {
    clear: both;
}

.largeScreen .house {
    width:50%;
    height:50%;
    position: relative;
    float: left;
}

.smallScreen .house {
    width:100%;
    height:80%;
    position: relative;
}

.roof{
    margin-left: -5%;
    height:25%;
    width:100%;
    position: relative;
}
.roof:before{
    width:50%;
    height:100%;
    display: block;
    content: '';
    background: -webkit-linear-gradient(left top, white 50%, grey 51%);
    background: -o-linear-gradient(bottom right, white 50%, grey 51%);
    background: -moz-linear-gradient(bottom right, white 50%, grey 51%);
    background: linear-gradient(to bottom right, white 50%, grey 51%);
    position: absolute;
}
.roof:after{
    width:50%;
    height:100%;
    display: block;
    content: '';
    background: -webkit-linear-gradient(right top, white 50%, grey 51%);
    background: -o-linear-gradient(bottom left, white 50%, grey 51%);
    background: -moz-linear-gradient(bottom left, white 50%, grey 51%);
    background: linear-gradient(to bottom left, white 50%, grey 51%);
    position: absolute;
    right:0px;
}

.roomContainer {
    background: grey;
    position:relative;
    float: left;
    width:45%;
    height:30%;
}

.room {
    position:absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    background-color: #FAA;
    transition: background-color 1s;
}

.room:hover:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 5px;
    bottom:80%;
    left:10%;
    min-width:100px;
    padding:5px;
    text-align: center;
    z-index: 3;
    background: rgba(200,200,200,0.9);
    border: solid 2px #555;
    font-weight: normal;
}

.house.noTRV .room.roomNumber0:hover:after { content: 'This room heats at the same rate as the room with the thermostat so the temperature is kept just right';}
.house.noTRV .room.roomNumber1:hover:after { content: 'This room heats quicker than the room with the thermostat so it overheats';}
.house.noTRV .room.roomNumber2:hover:after { content: 'This room heats slower than the room with the thermostat so it never gets warm enough';}
.house.noTRV .room.roomNumber3:hover:after { content: 'This room has the thermostat so the temperature in here is kept just right';}

.house.tradTRV .room.roomNumber0:hover:after { content: 'This room is still just right';}
.house.tradTRV .room.roomNumber1:hover:after { content: 'This room heats quicker than the room with the thermostat, but the valve stops it overheating';}
.house.tradTRV .room.roomNumber2:hover:after { content: 'This room is cold even with a TRV because the boiler turns off when the room with the thermostat warms up';}
.house.tradTRV .room.roomNumber3:hover:after { content: 'This room has the thermostat so a TRV can\'t be fitted here or the boiler will not be regulated';}

.house.openTRV .room.roomNumber0:hover:after { content: 'Now most rooms are only heated when someone is in them';}
.house.openTRV .room.roomNumber1:hover:after { content: 'This room is still kept from overheating';}
.house.openTRV .room.roomNumber2:hover:after { content: 'This room is still too cold because the RadBot can\'t communicate with the boiler';}
.house.openTRV .room.roomNumber3:hover:after { content: 'This room has the thermostat so a RadBot valve can\'t be fitted here or the boiler will not be regulated';}

.house.openTRVBoilerControl .room.roomNumber0:hover:after { content: 'Now all rooms are only heated when someone is in them';}
.house.openTRVBoilerControl .room.roomNumber1:hover:after { content: 'Now all rooms are only heated when someone is in them';}
.house.openTRVBoilerControl .room.roomNumber2:hover:after { content: 'This room is kept just right when occupied as the RadBot can request a little extra heat to get it up to temperature';}
.house.openTRVBoilerControl .room.roomNumber3:hover:after { content: 'No thermostat is needed so now this room is just like the others';}

.radiator {
    position:absolute;
    top: 65%;
    left:30%;
    width:40%;
    height:30%;
    background-color: red;
    background-repeat: repeat;
    background-image: url("rad.png");
    transition: background-color 2s;
}

.radiator:after{
    position: absolute;
    display: inline-block;
    content: "";
    width:100%;
    height:30%;
    bottom:-17%;
    left:-2px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 2px 2px 0px 0px;
}

.valve {
    position:absolute;
    right:-10px;
    bottom:0px;
    width:10px;
    height:20px;
    background-size: cover;
}

.thermostat {
    position:absolute;
    top:20%;
    left:60%;
    width:20px;
    height: 20px;
    background-color: white;
    border: 2px solid grey;
}

.openTRVBoilerControl .thermostat {
    display: none;
}

.thermostat:after {
    width:12px;
    height:12px;
    margin:2px;
    border-radius: 8px;
    border:2px solid grey;
    content:"";
    display: inline-block;
}

.house.tradTRV .valve {
    background-image: url('tradTRV.png');
}

.house.openTRV .valve,  .house.openTRVBoilerControl .valve {
    background-image: url('openTRV.png');
}

.house.tradTRV .roomNumber3 .valve, .house.openTRV  .roomNumber3 .valve{
    display: none;
}

.house:before{
    content:'house';
    position: absolute;
    display: block;
    font-weight: bold;
    font-size:1.1em;
    z-index:2;
    background: white;
    background: rgba(200,200,200,0.5);
    border-radius: 7px;
    padding:7px;
}

.house.noTRV:before{ content: 'No radiator valves';}
.house.tradTRV:before{ content: 'Thermostatic valves (TRVs)';}
.house.openTRV:before{ content: 'RadBot';}
.house.openTRVBoilerControl:before{ content: 'RadBot + boiler control';}

.boiler {
    position: absolute;
    width: 20%;
    height: 50%;
    top: 10%;
    left: 10%;
    background-color: white;
    border: 2px solid grey;
}

.boiler:after {
    width:100%;
    height: 0px;
    position: absolute;
    content: "";
    display: inline-block;
    border:1px solid grey;
    top: 70%;
}

.boiler .flame {
    position: absolute;
    width:50%;
    height:25%;
    background-color: grey;
    border-radius: 7px;
    top:75%;
    left:25%;
}

.boiler .flame.lit {
    background-position-y: -6px;
    background-size: cover;
    background-image: url('flame.png');
    background-color: red;
}

.avatar {
    width:10%;
    height:25%;
    background-image: url("avatar.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    top:28%;
    left:10%;
}

.roomOccupied0 .avatar {
    top:29%;
    left:10%;
}
.roomOccupied1 .avatar {
    top:29%;
    left:60%;
}
.roomOccupied2 .avatar {
    top:59%;
    left:10%;
}
.roomOccupied3 .avatar {
    top:59%;
    left:60%;
}

.avatarSpeech {
    position: absolute;
    left:100%;
    bottom:70%;
    border:3px solid black;
    background-color: white;
    border-radius: 5px;
    padding:3px;
    text-align: center;
    min-height: 30px;
    min-width: 100px;
}

.avatarSpeech:before {
    bottom: 10px;
    left: -16px;
    border:solid;
    border-width: 8px 16px 8px 0;
    border-color: transparent black;
    content: "";
    position: absolute;
    display: block;
    width: 0;
}

.avatarSpeech:after {
    content:"";
    display: block;
    position: absolute;
    width:0px;
    border:solid;
    bottom: 13px;
    left: -10px;
    border-width: 5px 10px 5px 0;
    border-color: transparent #fff;
}

.energyBar {
    height:10%;
    width: 100%;
    clear: both;
    margin-top: 3px;
    position: relative;
    font-weight: normal;
    border-left: 4px solid grey;
}

.energyBar.selected {
    font-weight: bold;
    border-left: 4px solid red;
}

.smallScreen .energyBar {
    top: -10%;
    height:5%;
}

.largeScreen .energyBar {
    top: 1%;
}

.energyBar:before {
    z-index: 2;
    display: block;
    background: rgba(200,200,200,0.5);
    position:absolute;
    padding:2px;
    white-space: nowrap;
}

.energyBar.noTRV:before {content: "No valves";}
.energyBar.tradTRV:before {content: "Thermostatic";}
.energyBar.openTRV:before {content: "RadBot";}
.energyBar.openTRVBoilerControl:before {content: "RadBot + boiler control";}

.energyBar.noTRV .wastedBar:hover:after {content: "Energy wasted (overheating rooms and heating empty rooms)";}
.energyBar.tradTRV .wastedBar:hover:after {content: "Energy wasted (heating empty rooms)";}
.energyBar.openTRV .wastedBar:hover:after {content: "Energy wasted (heating one empty room)";}
.energyBar.openTRVBoilerControl .wastedBar:hover:after {
    content: "Extra heat requested by RadBots for rooms that wouldn't get up to temperature otherwise";
    background-color: #ada;
}
.energyBar.openTRVBoilerControl.selected .barGraph.wastedBar {
    background-color: #ada;
}

.wastedBar:hover:after {content: '';}
.usedBar:hover:after {content: 'Energy used heating occupied rooms';}
.overheatingBar:hover:after {content: 'Energy wasted overheating rooms';}

.barGraph {
    height:100%;
    width: 0%;
    background-color: #afa;
    float:left;
    font-weight: normal;
    transition: width 1s linear;
}

.barGraph.usedBar {background-color: #ccc;}
.barGraph.wastedBar {background-color: #aaa;}
.barGraph.overheatingBar {background-color: #777;}
.energyBar.selected .barGraph.usedBar {background-color: #afa;}
.energyBar.selected .barGraph.wastedBar {background-color: #faa;}
.energyBar.selected .barGraph.overheatingBar {background-color: #f77;}
.barGraph.usedBar:hover:after {background-color: rgba(170,255,170,0.9);}
.barGraph.wastedBar:hover:after {background-color: rgba(255,170,170,0.9);}
.barGraph.overheatingBar:hover:after {background-color: rgba(255,119,119,0.9);}

.barGraph:hover:after {
    font-weight: normal;
    display: block;
    position: absolute;
    border-radius: 5px;
    bottom:110%;
    min-width:100px;
    padding:5px;
    left:0px;
    text-align: center;
    z-index: 3;
    background: rgba(200,200,200,0.9);
    border: solid 2px #555;
}