#demo {
    font-family: sans-serif;
    font-weight: bold;
    height:800px;
    width:800px;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.title {
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    margin-top:5px;
    margin-bottom:5px;
}
.link {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.guideText {
    position:absolute;
    border:solid grey 2px;
    padding:1%;
    border-radius: 5px;
    overflow: auto;
}
.demoContainer.landscape .guideText {
    right:5%;
    width:41%;
    height:100%;
}
.demoContainer.portrait .guideText {
    bottom:0%;
    width:100%;
    height:45%;
}
.guideTextContent {
    font-weight: normal;
    margin-top:5px;
}
.button {
    background-color: #faa;
    position:absolute;
    bottom:3%;
    cursor:pointer;
    padding:5px;
    border-radius: 3px;
}
.button:hover {
    background-color: #e99;
}
.button.reset {
    left:3%;
}
.button.next {
    right:3%;
}

.housesContainer {
    position:absolute;
    width:50%;
    height:100%;
}
.demoContainer.landscape .housesContainer{
    width:50%;
    height:100%;
}
.demoContainer.portrait .housesContainer{
    width:100%;
    height:50%;
}

.demoContainer.noTRV .house.noTRV,  .demoContainer.tradTRV .house.tradTRV,
.demoContainer.openTRV .house.openTRV, .demoContainer.openTRVBoilerControl .house.openTRVBoilerControl {
    left:5%;
    top:0%;
    width:100%;
    height:80%;
}
.demoContainer.noTRV .house.tradTRV { left:2%;}
.demoContainer.noTRV .house.openTRV { left:35%;}
.demoContainer.noTRV .house.openTRVBoilerControl { left:68%;}
.demoContainer.tradTRV .house.noTRV { left: 2%;}
.demoContainer.tradTRV .house.openTRV { left:35%;}
.demoContainer.tradTRV .house.openTRVBoilerControl { left:68%;}
.demoContainer.openTRV .house.noTRV { left: 2%;}
.demoContainer.openTRV .house.tradTRV { left:35%;}
.demoContainer.openTRV .house.openTRVBoilerControl { left:68%;}
.demoContainer.openTRVBoilerControl .house.noTRV { left: 2%;}
.demoContainer.openTRVBoilerControl .house.tradTRV { left:35%;}
.demoContainer.openTRVBoilerControl .house.openTRV { left:68%;}

.house.notSelected:hover {top:78%;}
.house {
    width:30%;
    height:20%;
    position: absolute;
    top:80%;
    left:0%;
    transition: all 0.8s;
}

.house.selected {
    left:5%;
    top:0%;
    width:50%;
    height:80%;
}

.house:before{
    content:'house';
    position: absolute;
    display: block;
    font-weight: bold;
    z-index:2;
    background: white;
    background: rgba(200,200,200,0.5);
    border-radius: 5px;
    padding:3px;
    font-size: 0.9em;
}

.house.selected:before {font-size: 1.1em;}
.house.selected.noTRV:before{ content: 'No radiator valves';}
.house.selected.tradTRV:before{ content: 'Thermostatic valves (TRVs)';}
.house.selected.openTRV:before{ content: 'Radbot valves';}
.house.selected.openTRVBoilerControl:before{ content: 'Radbot + boiler control';}

.house.noTRV:before {content: "No valves";}
.house.tradTRV:before {content: "Thermostatic";}
.house.openTRV:before {content: "Radbot";}
.house.openTRVBoilerControl:before {content: "Radbot+";}

.clear {
    clear: both;
}

.roof{
    margin-left: -5%;
    height:25%;
    width:100%;
    position: relative;
}
.roof:before{
    width:50%;
    height:100%;
    display: block;
    content: '';
    background: -webkit-linear-gradient(left top, rgba(0,0,0,0) 50%, grey 51%);
    background: -o-linear-gradient(bottom right, rgba(0,0,0,0) 50%, grey 51%);
    background: -moz-linear-gradient(bottom right, rgba(0,0,0,0) 50%, grey 51%);
    background: linear-gradient(to bottom right, rgba(0,0,0,0) 50%, grey 51%);
    position: absolute;
}
.roof:after{
    width:50%;
    height:100%;
    display: block;
    content: '';
    background: -webkit-linear-gradient(right top, rgba(0,0,0,0) 50%, grey 51%);
    background: -o-linear-gradient(bottom left, rgba(0,0,0,0) 50%, grey 51%);
    background: -moz-linear-gradient(bottom left, rgba(0,0,0,0) 50%, grey 51%);
    background: linear-gradient(to bottom left, rgba(0,0,0,0) 50%, grey 51%);
    position: absolute;
    right:0px;
}

.roomContainer {
    background: grey;
    position:relative;
    float: left;
    width:45%;
    height:30%;
}

.room {
    position:absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    background-color: #FAA;
    transition: background-color 1s;
}

.radiator {
    position:absolute;
    top: 65%;
    left:30%;
    width:40%;
    height:30%;
    background-color: red;
    background-repeat: repeat;
    background-image: url("../../img/rad.png");
    transition: background-color 2s;
}

.radiator:after{
    position: absolute;
    display: inline-block;
    content: "";
    width:100%;
    height:30%;
    bottom:-17%;
    left:-2px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 2px 2px 0px 0px;
}

.valve {
    position:absolute;
    right:-20%;
    bottom:0px;
    width:20%;
    height:60%;
    background-size: cover;
}

.thermostat {
    position:absolute;
    top:20%;
    left:60%;
    width:20px;
    height: 20px;
    background-color: white;
    border: 2px solid grey;
}
.house.notSelected .thermostat {display: none;}

.house.selected.openTRVBoilerControl .thermostat {display: none;}

.thermostat:after {
    width:12px;
    height:12px;
    margin:2px;
    border-radius: 8px;
    border:2px solid grey;
    content:"";
    display: inline-block;
}

.house.tradTRV .valve {background-image: url('../../img/tradTRV.png');}
.house.openTRV .valve,  .house.openTRVBoilerControl .valve {background-image: url('../../img/openTRV.png');}
.house.tradTRV .roomNumber3 .valve, .house.openTRV  .roomNumber3 .valve{display: none;}


.boiler {
    position: absolute;
    width: 20%;
    height: 50%;
    top: 10%;
    left: 10%;
    background-color: white;
    border: 2px solid grey;
}

.boiler:after {
    width:100%;
    height: 0px;
    position: absolute;
    content: "";
    display: inline-block;
    border:1px solid grey;
    top: 70%;
}

.boiler .flame {
    position: absolute;
    width:50%;
    height:25%;
    background-color: grey;
    border-radius: 7px;
    top:75%;
    left:25%;
}

.boiler .flame.lit {
    background-position-y: -6px;
    background-size: cover;
    background-image: url('../../img/flame.png');
    background-color: red;
}

.avatar {
    width:10%;
    height:25%;
    background-image: url("../../img/avatar.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    top:28%;
    left:10%;
}

.roomOccupied0 .avatar {
    top:29%;
    left:10%;
}
.roomOccupied1 .avatar {
    top:29%;
    left:60%;
}
.roomOccupied2 .avatar {
    top:59%;
    left:10%;
}
.roomOccupied3 .avatar {
    top:59%;
    left:60%;
}

.avatarSpeech {
    position: absolute;
    left:100%;
    bottom:70%;
    border:3px solid black;
    background-color: white;
    border-radius: 5px;
    padding:3px;
    text-align: center;
    min-height: 30px;
    min-width: 100px;
}

.avatarSpeech:before {
    bottom: 10px;
    left: -16px;
    border:solid;
    border-width: 8px 16px 8px 0;
    border-color: transparent black;
    content: "";
    position: absolute;
    display: block;
    width: 0;
}

.house.notSelected .avatarSpeech {
    display:none;
}

.avatarSpeech:after {
    content:"";
    display: block;
    position: absolute;
    width:0px;
    border:solid;
    bottom: 13px;
    left: -10px;
    border-width: 5px 10px 5px 0;
    border-color: transparent #fff;
}

.energyBar {
    height:5%;
    width: 100%;
    clear: both;
    margin-top: 3px;
    position: relative;
    font-weight: normal;
    border-left: 1px solid grey;
    top: 1%;
}

.house.selected .energyBar:before {
    z-index: 2;
    display: block;
    background: rgba(200,200,200,0.5);
    position:absolute;
    white-space: nowrap;
}
.house.selected .energyBar:before {content:'Cost';}
.house.selected .comfortBar:before {content:'Comfort';}

.house.selected .energyBar.noTRV .wastedBar:hover:after {content: "Cost of heating empty rooms and overheating rooms";}
.house.selected .energyBar.tradTRV .wastedBar:hover:after {content: "Cost of heating empty rooms";}
.house.selected .energyBar.openTRV .wastedBar:hover:after {content: "Cost of heating one empty room";}
.house.selected .energyBar.openTRVBoilerControl .wastedBar:hover:after {
    content: "Extra heat requested by Radbots for rooms that wouldn't get up to temperature otherwise";
    background-color: #ada;
}
.house.selected .energyBar.openTRVBoilerControl.selected .barGraph.wastedBar {
    background-color: #ada;
}

.house.selected .wastedBar:hover:after {content: '';}
.house.selected .usedBar:hover:after {content: 'Cost of heating occupied rooms';}
.house.selected .overheatingBar:hover:after {content: 'Energy wasted overheating rooms';}

.house.selected .coldBar:hover:after {content: 'Time feeling too cold';}
.house.selected .comfortableBar:hover:after {content: 'Time feeling just right';}
.house.selected .hotBar:hover:after {content: 'Time feeling too hot';}

.barGraph {
    height:100%;
    width: 0%;
    background-color: #afa;
    float:left;
    font-weight: normal;
    transition: width 1s linear;
}

.barGraph.usedBar {background-color: #afa;}
.barGraph.wastedBar {background-color: #faa;}
.barGraph.overheatingBar {background-color: #f77;}
.house.selected .barGraph.usedBar:hover:after {background-color: rgba(170,255,170,0.9);}
.house.selected .barGraph.wastedBar:hover:after {background-color: rgba(255,170,170,0.9);}
.house.selected .barGraph.overheatingBar:hover:after {background-color: rgba(255,119,119,0.9);}

.barGraph.coldBar{background-color: #aaf;}
.barGraph.comfortableBar{background-color: #afa;}
.barGraph.hotBar{background-color: #f77;}
.house.selected .barGraph.coldBar:hover:after {background-color: rgba(170,170,255,0.9);}
.house.selected .barGraph.comfortableBar:hover:after {background-color: rgba(170,255,170,0.9);}
.house.selected .barGraph.hotBar:hover:after {background-color: rgba(255,119,119,0.9);}

.house.selected .barGraph:hover:after {
    font-weight: normal;
    display: block;
    position: absolute;
    border-radius: 5px;
    bottom:110%;
    min-width:100px;
    padding:5px;
    left:0px;
    text-align: center;
    z-index: 3;
    background: rgba(200,200,200,0.9);
    border: solid 2px #555;
}